@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue.ttf') format('truetype'),
}

* {
  font-family: 'Helvetica Neue';
  padding: 0;
  margin: 0;
}

body {
  background-color: #141414;
}

#ac-logo {
  padding-left: 10px;
  width: 15%;
  height: 15%;
}

a {
  color: #A6A6A6;
  text-decoration: none;
  font-size: 16pt;
  font-weight: 300;
}

header {
  background-color: #161616;
  overflow: hidden;
  border-bottom: 1px solid #0F0F0F;
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 26pt;
  margin-top: 7%;
}

h2 {
  color: #A6A6A6;
  font-weight: 300;
  font-size: 14pt;
  margin-top: 2%;
  margin-bottom: 8%;
}

li {
  display: block;
  text-transform: uppercase;
}

#selected a {
  color: white;
}

.nav-float-left {
  text-align: center
}

.nav-float-right {
  text-align: center;
  margin: 0 0 26px 0;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.top-half {
  height: 50%;
}

.bottom-half {
  display: block;
  height: 50%:
}

.left-quarter {
  padding-left: 15%;
  width: 100%;
  float: left;
  margin-bottom: 20%;
}

.right-quarter {
  width: 100%;
  float: left;
}

#community-link {
  font-style: italic;
  margin-left: 15%;
  color: white;
  border: 0.5px solid white;
  padding: 15px;
  border-radius: 10px;
}

#showcase-link {
  font-style: italic;
  margin-left: 30%;
  color: white;
  border: 0.5px solid white;
  padding: 15px;
  border-radius: 10px;
}

p {
  margin-top: 10%;
  color: #A6A6A6;
  font-size: 20px;
  font-weight: lighter;
}

.bottom-half:after {
    content: "";
    display: table;
    clear: both;
}

#comingsoon{
  font-size: 100px;
  font-weight: 300;
  margin-top: 14%;
}

@media screen and (min-width: 720px) {
  #ac-logo {
    padding-left: 10px;
    width: 15%;
    height: 15%;
  }

  a {
    color: #A6A6A6;
    text-decoration: none;
    font-size: 16pt;
    font-weight: 300;
  }

  header {
    background-color: #161616;
    overflow: hidden;
    border-bottom: 1px solid #0F0F0F;
  }

  h1 {
    color: white;
    font-weight: 400;
    font-size: 36pt;
    margin-top: 7%;
  }

  h2 {
    color: #A6A6A6;
    font-weight: 300;
    font-size: 18pt;
    margin-top: 2%;
    margin-bottom: 8%;
  }

  li {
    display: inline-block;
    padding-right: 64px;
    text-transform: uppercase;
  }

  #selected a {
    color: white;
  }

  .nav-float-left {
    text-align: left;
    float: left;
  }

  .nav-float-right {
    float: right;
    margin: 26px 0 26px 0;
  }

  .clear {
    clear: both;
  }

  .center {
    text-align: center;
  }

  .top-half {
    height: 50%;
  }

  .bottom-half {
    display: flex;
    height: 50%:
  }

  .left-quarter {
    padding-left: 15%;
    flex: 50%;
    float: left;
  }

  .right-quarter {
    flex: 50%;
    float: left;
  }

  #community-link {
    font-style: italic;
    margin-left: 19%;
    color: white;
    border: 0.5px solid white;
    padding: 15px;
    border-radius: 10px;
  }

  #showcase-link {
    font-style: italic;
    margin-left: 20%;
    color: white;
    border: 0.5px solid white;
    padding: 15px;
    border-radius: 10px;
  }

  p {
    margin-top: 10%;
    color: #A6A6A6;
    font-size: 20px;
    font-weight: lighter;
    padding-right: 40%;
  }

  .bottom-half:after {
      content: "";
      display: table;
      clear: both;
  }

  #comingsoon{
    font-size: 100px;
    font-weight: 300;
    margin-top: 14%;
  }
}
